# Build outputs
build/
node_modules/
*.egg-info

# Toolchain generated
__pycache__
.coverage
.coverage.*
.eslintcache
/npm-debug.log
*.py[cod]
**/*.retry

# IDE / OS generated
.DS_Store
.idea/
.PyCharm50/
.*.swo
.*.swp
