.isic-submission-form
  .isic-submission-form-example
    margin-left 0.5em
    font-style italic

  .isic-submission-form-subtext
    font-size 13px
    font-style italic

  .isic-submission-form-checkbox-margin
    margin-left 20px

  .form-group,.radio-inline,.checkbox
    margin-bottom 20px

  .checkbox
    margin-top 0

  .input-group-btn > button
    height 34px

.isic-section-header
  font-size 14px
  font-weight bold
  margin 0 0 5px
